# Ignore everything and selectively allow files
*

!**/.zed/*
!**/testdata/*
!*.go
!*.golden
!*.nix
!.envrc
!.github/**/*
!.gitignore
!.golangci.yaml
!builder/fetch.sh
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!docs/**/*
!flake.lock
!flake.nix
!go.mod
!go.sum
!go.work
!go.work.sum
!govendor.toml
!LICENSE
!README.md
!test/fixtures/*
!typos.toml

# Recurse through sub-directories applying the same patterns
!*/
