# Ignore everything and selectively allow files
*

!.gitignore
!README.md
!LICENSE
!CODE_OF_CONDUCT.md
!.zed/*
!.github/**/*

!flake.lock
!flake.nix
!*.nix
!.envrc
!test/fixtures/*

!*.go
!go.sum
!go.mod
!go.work
!go.work.sum
!**/testdata/*
!.golangci.yaml
!*.golden

# Recurse through sub-directories applying the same patterns
!*/
