name: auto-update
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-24.04
    name: auto-update
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          token: ${{ secrets.GH_NSV }}

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          useDaemon: false

      - name: Detect Latest Go Versions
        run: |
          LATEST=$(nix run .#goscrape -- detect)
          PREV_MINOR="1.$(($(echo "$LATEST" | cut -d. -f2) - 1))"
          PREV=$(nix run .#goscrape -- detect "$PREV_MINOR")
          echo "GO_VERSIONS=$LATEST $PREV" >> $GITHUB_ENV

      - name: Check and Generate Manifests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for version in ${{ env.GO_VERSIONS }}; do
            if [ ! -f "manifests/${version}.nix" ]; then
              nix run .#goscrape -- generate "$version" --output manifests
              echo "MANIFESTS_GENERATED=true" >> $GITHUB_ENV
            fi
          done

      - name: GPG Import
        env:
          GPG_PRIVATE_KEY: "${{ secrets.GPG_PRIVATE_KEY }}"
          GPG_PASSPHRASE: "${{ secrets.GPG_PASSPHRASE }}"
        run: nix run github:purpleclay/gpg-import

      - name: Commit and Push Manifests
        if: ${{ env.MANIFESTS_GENERATED == 'true' }}
        run: |
          for version in ${{ env.GO_VERSIONS }}; do
            manifest="manifests/${version}.nix"
            if git status --porcelain "$manifest" | grep -q .; then
              git add "$manifest"
              git commit -m "chore: generated nix manifest for go release ${version}"
            fi
          done
          git push
