name: auto-update
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-24.04
    name: auto-update
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          useDaemon: false

      - name: Detect Latest Go Versions
        run: |
          LATEST=$(nix run .#goscrape -- detect)
          PREV_MINOR="1.$(($(echo "$LATEST" | cut -d. -f2) - 1))"
          PREV=$(nix run .#goscrape -- detect "$PREV_MINOR")
          echo "GO_VERSIONS=$LATEST $PREV" >> $GITHUB_ENV

      - name: Check and Generate Manifests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for version in ${{ env.GO_VERSIONS }}; do
            if [ ! -f "manifests/${version}.nix" ]; then
              nix run .#goscrape -- generate "$version" --output manifests
              echo "MANIFESTS_GENERATED=true" >> $GITHUB_ENV
            fi
          done

      - name: Import GPG key
        if: ${{ env.MANIFESTS_GENERATED == 'true' }}
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec #v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          trust_level: 5
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Commit and Push Manifests
        if: ${{ env.MANIFESTS_GENERATED == 'true' }}
        run: |
          for version in ${{ env.GO_VERSIONS }}; do
            manifest="manifests/${version}.nix"
            if git status --porcelain "$manifest" | grep -q .; then
              git add "$manifest"
              git commit -m "chore: generated nix manifest for go release ${version}"
            fi
          done
          git push
