name: gopls-update
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  gopls:
    uses: ./.github/workflows/tool-update.yml
    with:
      module: golang.org/x/tools/gopls
      sub-packages: .
      manifest-dir: manifests/gopls
      tool-name: gopls
    secrets:
      token: ${{ secrets.GH_NSV }}
      gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
      cachix-token: ${{ secrets.GH_CACHIX }}
