name: govulncheck-update
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

jobs:
  govulncheck:
    uses: ./.github/workflows/tool-update.yml
    with:
      module: golang.org/x/vuln
      sub-packages: cmd/govulncheck
      manifest-dir: manifests/govulncheck
      tool-name: govulncheck
    secrets:
      token: ${{ secrets.GH_NSV }}
      gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
      cachix-token: ${{ secrets.GH_CACHIX }}
