name: nix
on:
  push:
    branches:
      - main
    paths:
      - "*.nix"
      - "**/*.nix"
      - "flake.lock"
      - "govendor.toml"
  pull_request:
    branches:
      - main
    paths:
      - "*.nix"
      - "**/*.nix"
      - "flake.lock"
      - "govendor.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
jobs:
  alejandra:
    runs-on: ubuntu-24.04
    if: github.actor != 'renovate[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: true
          useDaemon: false

      - name: Run Alejandra
        run: nix develop -c alejandra --check .

  checks:
    runs-on: ${{ matrix.os }}
    name: checks / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: true
          useDaemon: false

      - name: Run all checks
        run: nix run github:Mic92/nix-fast-build -- --skip-cached --no-nom --flake .#checks

  build-tools:
    runs-on: ${{ matrix.os }}
    name: build / ${{ matrix.tool }} / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
        tool:
          - delve
          - gofumpt
          - golangci-lint
          - gopls
          - govulncheck
          - staticcheck
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: true
          useDaemon: false

      - name: Build ${{ matrix.tool }}
        run: nix build '.#go.tools.${{ matrix.tool }}.latest'

  build-with-default-tools:
    runs-on: ${{ matrix.os }}
    name: build / withDefaultTools / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: true
          useDaemon: false

      - name: Build withDefaultTools
        run: nix build '.#go.withDefaultTools'

  build:
    runs-on: ${{ matrix.os }}
    name: build / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: false
          useDaemon: false

      - name: Build Go Toolchain
        run: nix build

  build-goscrape:
    runs-on: ${{ matrix.os }}
    name: build-goscrape / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: false
          useDaemon: false

      - name: Build goscrape
        run: nix build .#goscrape

  build-goscrapeproxy:
    runs-on: ${{ matrix.os }}
    name: build-goscrapeproxy / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: false
          useDaemon: false

      - name: Build goscrapeproxy
        run: nix build .#goscrapeproxy

  build-govendor:
    runs-on: ${{ matrix.os }}
    name: build-govendor / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: false
          useDaemon: false

      - name: Build go-vendor
        run: nix build .#govendor

  integration-in-tree-vendor:
    runs-on: ${{ matrix.os }}
    name: integration-in-tree-vendor / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: true
          useDaemon: false

      - name: Build and run in-tree vendor integration test
        run: |
          cd test/integration/in-tree-vendor
          nix run .#go_1_22_3 -- mod vendor
          nix build --impure --expr '
            let
              flake = builtins.getFlake (toString ./../../..);
              system = builtins.currentSystem;
              pkgs = import flake.inputs.nixpkgs {
                inherit system;
                overlays = [ flake.overlays.default ];
              };
            in import ./. {
              inherit pkgs;
              go = pkgs.go-bin.versions."1.22.3";
            }
          '
          ./result/bin/integration-in-tree-vendor

      - name: Build and run workspace in-tree vendor integration test
        run: |
          cd test/integration/workspace-in-tree-vendor
          nix run .#go_1_22_3 -- work vendor
          nix build --impure --expr '
            let
              flake = builtins.getFlake (toString ./../../..);
              system = builtins.currentSystem;
              pkgs = import flake.inputs.nixpkgs {
                inherit system;
                overlays = [ flake.overlays.default ];
              };
            in import ./. {
              inherit pkgs;
              go = pkgs.go-bin.versions."1.22.3";
            }
          '
          ./result/bin/api
